<div class="row payfriend-header">
    <div class="col m4 payfriend-header__login-box-left valign-wrapper">
        <div>
            <h4><b class="primary-color">Pay</b>Friends</h4>
            <h4><b>Bem-vindo de volta</b></h4>
            <form id="form-login" class="col s12 login-box-a ">
                <div class="input-field col s12">
                    <input id="input-email" type="email" class="validate">
                    <label for="input-email">E-mail</label>
                    <span id="span-validacao-input-email"  class="helper-text">E-mail padrão: usuario@gmail.com</span>
                </div>

                <div class="input-field col s12">
                    <input id="input-password" type="password" class="validate">
                    <label for="input-password">Senha</label>
                    <span id="span-validacao-input-password" class="helper-text">Senha padrão: usuario</span>
                </div>

                <button id="button-login" class="waves-effect waves-light btn col s12">Login</button>
            </form>
        </div>
    </div>
    <div class="col m8 payfriend-header__login-box-right valign-wrapper center-align">
        <div>
            <img src="../../../../../assets/undraw_authentication_fsn5.svg" class="payfriend-header__image" />
        </div>
    </div>
</div>