@mixin btn{
    text-align: center;
    letter-spacing: 1.25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.btn {
    @include btn;
    border-radius: $border-radius-md;
    font-size: 14px;
    line-height: 16px;
    padding: $spacing-squish-md;
}

.btn-sm {
    border-radius: $border-radius-lg;
    font-size: 12px;
    line-height: 14px;
    padding: $spacing-squish-xs;
}

.btn-primary {
    color: $color-white;
    background-color: $color-secondary;
}

.btn-secondary {
    color: $color-heading;
    background-color: $color-gray-2;
    border-color: transparent;
}

.btn-action {
    color: $color-heading;
    background-color: $color-gray;
    font-weight: 600;
    text-transform: capitalize;
}