<div [formGroup]="formGroup">
  <label for="codinep" class="form-label">
    {{ title }} <small *ngIf="isOptional">(Opcional)</small>
  </label>
  <div class="input-group">
    <input
      [formControlName]="controlName"
      [name]="controlName"
      type="text"
      class="form-control"
      [ngClass]="{ 'is-invalid': validation.isValid(formControl) }"
      [id]="controlName"
      placeholder="{{ placeholder }}"
      currencyMask
      [options]="{ prefix: 'R$ ', thousands: ',', precision: 2 }"
      min="0"
    />
  </div>
  <app-input-message
    *ngIf="validation.hasErrorValidator(formControl, 'required')"
    message="Campo Obrigatório"
    type="danger"
  ></app-input-message>
</div>
