<app-modal-exclusao #modalExclusao></app-modal-exclusao>
<app-modal-pagamento #modalPagamento></app-modal-pagamento>
<div class="container">
    <div class="row">
        <div class="col s12 right-align">
            <button class="waves-effect btn" (click)="modalPagamento.abrirModalCriar()">Adicionar pagamento</button>
        </div>
    </div>

    <div id="list-pagamentos-card-panel" class="card-panel grey lighten-5">
        <div class="row">
            <div class="col s12 left-align">
                <div class="col input-field s12 m5 xl3">
                    <input id="input-pesquisa-usuario" type="text" [(ngModel)]="filtro.valorBusca">
                    <label for="input-pesquisa-usuario">Pesquisar por usuário</label>
                </div>

                <div class="input-field col s12 m5 xl4">
                    <button class="btn center-align" (click)="obterPagamentosResetandoPagina()"><i class="material-icons left">filter_alt</i>Filtrar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="responsive-table striped highlight">
                <thead>
                    <tr>
                        <th *ngFor="let sortHeader of sortTableHeaders; let i = index" [attr.data-index]="i">
                            {{sortHeader.textoCampo}}
                            <span>
                                <i [ngClass]="(sortHeader.isAsc() && sortHeader.isSorting) ? 'selected-sort' : 'non-selected-sort'" class="material-icons pointer" (click)="selecionarSortAsc(sortHeader)">keyboard_arrow_up</i>
                                <i [ngClass]="(sortHeader.isDesc() && sortHeader.isSorting) ? 'selected-sort' : 'non-selected-sort'" class="material-icons pointer" (click)="selecionarSortDesc(sortHeader)">keyboard_arrow_down</i>
                            </span>
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let pagamento of pagamentosList">
                        <td>{{pagamento.name}}<br />@{{pagamento.username}}</td>
                        <td>{{pagamento.title}}</td>
                        <td>{{pagamento.date | date:"dd/MM/yyyy - HH:mm" }}</td>
                        <td>{{pagamento.value | currency: 'BRL'}}</td>
                        <td>
                            <i *ngIf="pagamento.isPayed" class="material-icons">check_circle</i>
                        </td>
                        <td>
                            <i (click)="modalPagamento.abrirModalEditar(pagamento)" class="material-icons pointer">edit</i>
                            <i (click)="modalExclusao.abrir(pagamento)" class="material-icons pointer">delete</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col s12 m6 left-align">
                <div class="input-field col ml5">
                    <select [(ngModel)]="paginacao.quantidadePorPagina" (change)="obterPagamentosResetandoPagina()">
                        <option selected="selected" value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                    <label>Quantidade por página</label>
                </div>
            </div>

            <div class="col s12 m6 right-align">
                <ul class="pagination">
                    <li class="pointer"  [ngClass]="{ 'disabled': paginacao.paginaAtual === 1 }"><a (click)="obterPagamentosPaginaAnterior((paginacao.paginaAtual-1))"><i class="material-icons">chevron_left</i></a></li>
                    <li *ngIf="paginacao.possuiPaginaAnterior()" class="pointer"><a (click)="obterPagamentosPaginaAnterior(paginacao.paginaAtual-1)">{{paginacao.paginaAtual-1}}</a></li>
                    <li class="active"><a >{{paginacao.paginaAtual}}</a></li>
                    <li *ngIf="paginacao.possuiProximaPagina" class="pointer"><a  (click)="obterPagamentosPaginacaoPosterior((paginacao.paginaAtual+1), paginacao.possuiProximaPagina)">{{paginacao.paginaAtual+1}}</a></li>
                    <li [ngClass]="{ 'disabled': !paginacao.possuiProximaPagina }" class="pointer"><a (click)="obterPagamentosPaginacaoPosterior((paginacao.paginaAtual+1), paginacao.possuiProximaPagina)"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>