<app-modal [modalConfig]="modalConfig" #modal>
  <div modal-body>
    <h3 class="mb-4">Adicionar pagamento</h3>

    <!-- form adicionar pagamento -->

    <form autocomplete="off" [formGroup]="newPaymentForm" (submit)="savePayment()">
      <div class="form-row">
        <div class="form-group col-12 col-md-6">
          <app-input-text
            title="Usuário"
            controlName="name"
            [formGroup]="newPaymentForm"
            placeholder="Informe o usuário"
          ></app-input-text>
        </div>
        <div class="form-group col-12 col-md-6">
          <app-input-value
            title="Valor"
            controlName="value"
            [formGroup]="newPaymentForm"
            placeholder="Informe o valor"
          ></app-input-value>
        </div>
        <div class="form-group col-12 col-md-6">
          <app-input-date
            title="Data"
            controlName="date"
            [formGroup]="newPaymentForm"
          ></app-input-date>
        </div>
        <div class="form-group col-12 col-md-6">
          <app-input-text
            title="Título"
            [isOptional]="true"
            controlName="title"
            [formGroup]="newPaymentForm"
            placeholder="Informe o título"
          ></app-input-text>
        </div>
      </div>

      <app-alert #alertForm></app-alert>
      
      <footer class="d-flex justify-content-end mt-4">
          <button type="button" class="btn btn-secondary" (click)="close()">Cancelar</button>
          <button type="submit" class="btn btn-primary ml-2">Salvar</button>
      </footer>
    </form>

    <!-- fim form adicionar pagamento -->

  </div>
</app-modal>
