$full-page-background: #757575;

.loading-component {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background: $full-page-background;
    z-index: 9;
    opacity: 0.5;
    &__spinner {
        top :0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 10;
    }
}