<section id="pagamentos" class="mt-header mb-5 pt-5">
  <h1 tabindex="0">Meus pagamentos</h1>

  <!-- botão adicionar pagamento -->

  <div class="d-flex flex-row-reverse">
    <button class="btn btn-primary" (click)="openPayment(modalType.NEW)">
      Adicionar Pagamento
    </button>
  </div>

  <!-- fim botão adicionar pagamento -->

  <div class="wrapper mt-3">
    <!-- ações do topo da tabela (filtro, pesquisa, paginação) -->

    <div class="table__actions d-flex justify-content-between mb-4">
      <div class="d-flex">
        <app-search
            (onTyping)="filter = $event" [value]="filter">
        </app-search>
        <button class="ml-2 btn btn-sm btn-action">
          <fa-icon class="mr-2" [icon]="fonts.faFilter"></fa-icon>Filtrar
        </button>
      </div>
      <div>
        <div>Exibir | Paginação</div>
      </div>
    </div>

    <!-- fim ações do topo da tabela (filtro, pesquisa, paginação) -->

    <!-- tabela meus pagamentos -->

    <table class="table table-striped" *ngIf="(payments$ | async  | filterByUser: filter)?.length; else noPayment">
      <thead>
        <tr>
          <th scope="col" tabindex="0">Usuário</th>
          <th scope="col" tabindex="0">Título</th>
          <th scope="col" tabindex="0">Data</th>
          <th scope="col" tabindex="0">Valor</th>
          <th scope="col" tabindex="0">Status</th>
          <th scope="col" tabindex="0">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of payments$ | async | filterByUser: filter">
          <td tabindex="0">
            {{ payment?.name }}
            <br />
            <small>@{{ payment?.username }}</small>
          </td>
          <td tabindex="0">{{ payment?.title }}</td>
          <td tabindex="0">
            {{ payment?.date | date: 'd MMM y' }}
            <br />
            <small>{{ payment?.date | date: 'shortTime' }}</small>
          </td>
          <td tabindex="0">{{ payment?.value | currency: 'BRL' }}</td>
          <td tabindex="0">{{ getStatus(payment?.isPayed) }}</td>
          <td>
            <fa-icon
              class="mr-3"
              [icon]="fonts.faPencilAlt"
              (click)="openPayment(modalType.EDIT, payment)"
              (keyup)="openPayment(modalType.EDIT, payment)"
              role="button"
              aria-labelledby="Editar pagamento"
              tabindex="0"
            ></fa-icon>
            <fa-icon
              [icon]="fonts.faTimesCircle"
              (click)="deletePayment(payment)"
              (keyup)="deletePayment(payment)"
              role="button"
              aria-labelledby="Excluir pagamento"
              tabindex="0"
            ></fa-icon>
          </td>
        </tr>
      </tbody>
      
    </table>

    <ng-template #noPayment>
      <app-alert [alerts]="[{type: 'warning', message: 'Nenhum pagamento encontrado'}]"></app-alert>
    </ng-template>

    <!-- fim tabela meus pagamentos -->
  </div>
</section>

<!-- modal novo pagamento -->

<app-modal-pagamento
  #modalPayment
  (pagamentoEmmiter)="receiverPagamentoEmmiter($event)"
></app-modal-pagamento>

<!-- fim modal novo pagamento -->

<!-- modal excluir pagamento -->

<app-modal-excluir-pagamento
  #modalDeletePayment
  (excluirPagamentoEmmiter)="receiverExcluirPagamentoEmmiter($event)"
></app-modal-excluir-pagamento>

<!-- fim modal novo pagamento -->
