// Sobrescrevendo variáveis
$primary-color:  #002D69 !default;
$secondary-color: #007DFE !default;
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Montserrat, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;

@import "materialize-css/sass/components/_color-variables";
@import "materialize-css/sass/components/_variables";