<app-modal-pagamento #modal></app-modal-pagamento>
<div class="container">
    <div class="row">
        <div class="col s12 right-align">
            <button class="waves-effect waves-light btn" (click)="modal.show()">Adicionar pagamento</button>
        </div>
    </div>

    <div class="card-panel grey lighten-5">
        <div class="row">
            <div class="col s12 left-align">
                <div class="col input-field s12 m5 xl3">
                    <input id="input-pesquisa-usuario" type="password" class="validate">
                    <label for="input-pesquisa-usuario">Pesquisar por usuário</label>
                </div>

                <div class="input-field col s12 m5 xl4">
                    <button class="btn center-align"><i class="material-icons left">filter_alt</i>Filtrar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="responsive-table striped highlight">
                <thead>
                    <tr>
                        <th>Usuário <i class="material-icons">keyboard_arrow_up</i> <i class="material-icons">keyboard_arrow_down</i> <i class="material-icons">keyboard_arrow_right</i> </th>
                        <th>Título <i class="material-icons">keyboard_arrow_up</i> <i class="material-icons">keyboard_arrow_down</i> <i class="material-icons">keyboard_arrow_right</i> </th>
                        <th>Data <i class="material-icons">keyboard_arrow_up</i> <i class="material-icons">keyboard_arrow_down</i> <i class="material-icons">keyboard_arrow_right</i> </th>
                        <th>Valor <i class="material-icons">keyboard_arrow_up</i> <i class="material-icons">keyboard_arrow_down</i> <i class="material-icons">keyboard_arrow_right</i> </th>
                        <th>Pago <i class="material-icons">keyboard_arrow_up</i> <i class="material-icons">keyboard_arrow_down</i> <i class="material-icons">keyboard_arrow_right</i> </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>Eclair</td>
                        <td>01/01/2000</td>
                        <td>$0.87</td>
                        <td><i class="material-icons">edit</i> <i class="material-icons">delete</i></td>
                    </tr>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>Eclair</td>
                        <td>01/01/2000</td>
                        <td>$0.87</td>
                        <td><i class="material-icons">edit</i> <i class="material-icons">delete</i></td>
                    </tr>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>Eclair</td>
                        <td>01/01/2000</td>
                        <td>$0.87</td>
                        <td><i class="material-icons">edit</i> <i class="material-icons">delete</i></td>
                    </tr>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>Eclair</td>
                        <td>01/01/2000</td>
                        <td>$0.87</td>
                        <td><i class="material-icons">edit</i> <i class="material-icons">delete</i></td>
                    </tr>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>Eclair</td>
                        <td>01/01/2000</td>
                        <td>$0.87</td>
                        <td><i class="material-icons">edit</i> <i class="material-icons">delete</i></td>
                    </tr>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>Eclair</td>
                        <td>01/01/2000</td>
                        <td>$0.87</td>
                        <td><i class="material-icons">edit</i> <i class="material-icons">delete</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col s12 m6 left-align">
                <div class="input-field col ml5">
                    <select>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                    <label>Quantidade por página</label>
                </div>
            </div>
            <div class="col s12 m6 right-align">
                <ul class="pagination">
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>