<!-- Modal Structure -->
<div [id]="idModal" class="modal">
    <div class="modal-content">
        <h4>Excluir pagamento</h4>
        <div class="row">
            <p>
                Usuário: AAAAA
            </p>
            <p>
                Data: AAAAA
            </p>
            <p>
                Valor: AAAAA
            </p>
        </div>
    </div>
    <div class="modal-footer left">
        <button class="modal-close btn grey lighten-4 black-text">Cancelar</button>
        <button class="modal-close btn">Confirmar</button>
    </div>
</div>