// bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';

// fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;600;800&family=Roboto:wght@400;500&display=swap');

// app
@import './app/styles/main.scss';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: $color-gray-4;
}
