<div [formGroup]="formGroup">
    <label for="codinep" class="form-label">
        {{ title }} <small *ngIf="isOptional">(Opcional)</small>
    </label>
    <input
      [formControlName]="controlName"
      [name]="controlName"
      [type]="type"
      class="form-control"
      [ngClass]="{ 'is-invalid': validation.isValid(formControl) }"
      [id]="controlName"
      placeholder="{{ title }}"
    />
    <app-input-message
      *ngIf="validation.hasErrorValidator(formControl, 'required')"
      message="Campo Obrigatório"
      type="danger"
    ></app-input-message>
    <app-input-message
      *ngIf="validation.hasErrorValidator(formControl, 'email')"
      message="E-mail Inválido"
      type="danger"
    ></app-input-message>
  </div>