// colors
$color-primary: #002D69;
$color-secondary: #007DFE;
$color-gray: #E6ECF0;
$color-gray-2: #F5F5F5;
$color-gray-3: #F5F8FA;
$color-border: #CFDCE5;
$color-white: #F8F8F8;
$color-heading: #333333;
$color-body-text: #2D3540;
$color-secondary-text: #69788C;

// border radius
$border-radius-none: 0px;
$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-lg: 6px;

// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// spacings inset
$spacing-inset-sm: 10px;
$spacing-inset-md: 15px;
$spacing-inset-lg: 20px;

// spacing squish
$spacing-squish-xs: 4px 6px;
$spacing-squish-sm: 7px 8px;
$spacing-squish-md: 10px 15px;